[submodule "panda"]
	path = panda
	url = ../../skyhanil1004/panda.git
[submodule "opendbc"]
	path = opendbc
	url = ../../skyhanil1004/opendbc.git
[submodule "laika_repo"]
	path = laika_repo
	url = ../../skyhanil1004/laika.git
[submodule "cereal"]
	path = cereal
	url = ../../skyhanil1004/cereal.git
[submodule "rednose_repo"]
	path = rednose_repo
	url = ../../skyhanil1004/rednose.git
